<app-header [appType]="headerType" (appDismiss)="dismiss()" [appTitle]="title" [appSubtitle]="subtitle"
	[minimizable]="false" [maximizable]="true" [fullContent]="true"></app-header>

<ion-content>

	<div class="padding-20 text-justify printable-content">

		<app-action-buttons (appPrint)="print($event)" [show]="{share: false}"></app-action-buttons>

		<div *ngIf="tela === 'politica'" class="printable-content-body">

			<h1 style="text-align:center; font-size:24px;">Política de Privacidade</h1>

			<p>A Dynpages está comprometida em proteger a privacidade de seus usuários. Esta Política de Privacidade
				descreve como coletamos, usamos, armazenamos e compartilhamos suas informações. Ao utilizar a Dynpages,
				você concorda com as práticas descritas nesta política.</p>

			<h2 style="font-size:20px;">1. Informações Coletadas</h2>

			<h3 style="font-size:18px;">1.1 Informações Pessoais</h3>
			<p>Coletamos informações pessoais que você nos fornece diretamente ao se registrar na plataforma, como nome,
				endereço de e-mail, número de telefone e informações de pagamento.</p>

			<h3 style="font-size:18px;">1.2 Informações de Uso</h3>
			<p>Coletamos dados sobre como você utiliza a plataforma, incluindo as páginas visitadas, o tempo gasto em
				cada página, o tipo de dispositivo utilizado, o sistema operacional, o navegador e outros dados
				técnicos.</p>

			<h3 style="font-size:18px;">1.3 Cookies e Tecnologias Semelhantes</h3>
			<p>Utilizamos cookies e tecnologias similares para coletar informações sobre suas interações com a
				plataforma, ajudar a personalizar sua experiência e melhorar nossos serviços.</p>

			<h2 style="font-size:20px;">2. Uso das Informações</h2>
			<p>Utilizamos as informações coletadas para:</p>
			<ul>
				<li>Fornecer, operar e manter a plataforma.</li>
				<li>Personalizar e aprimorar sua experiência na plataforma.</li>
				<li>Processar transações e gerenciar assinaturas.</li>
				<li>Responder a perguntas e fornecer suporte ao cliente.</li>
				<li>Enviar comunicações relacionadas a serviços, promoções e atualizações.</li>
				<li>Monitorar e analisar tendências, uso e atividades relacionadas à plataforma.</li>
				<li>Proteger a integridade da plataforma e evitar fraudes.</li>
			</ul>

			<h2 style="font-size:20px;">3. Compartilhamento de Informações</h2>
			<p>Não compartilhamos suas informações pessoais com terceiros, exceto nas seguintes circunstâncias:</p>
			<ul>
				<li><strong>Com Consentimento:</strong> Podemos compartilhar suas informações com terceiros quando
					tivermos seu consentimento para fazê-lo.</li>
				<li><strong>Provedores de Serviços:</strong> Podemos compartilhar informações com fornecedores,
					consultores e outros prestadores de serviços que precisam das informações para realizar trabalhos em
					nosso nome.</li>
				<li><strong>Requisitos Legais:</strong> Podemos divulgar suas informações para cumprir com qualquer
					obrigação legal ou para proteger nossos direitos, propriedade e segurança.</li>
				<li><strong>Transações Comerciais:</strong> Podemos compartilhar ou transferir suas informações em
					conexão com, ou durante negociações de, qualquer fusão, venda de ativos da empresa, financiamento ou
					aquisição de todo ou parte de nosso negócio.</li>
			</ul>

			<h2 style="font-size:20px;">4. Armazenamento e Segurança das Informações</h2>
			<p>Adotamos medidas técnicas e organizacionais adequadas para proteger suas informações pessoais contra
				perda, uso indevido e acesso não autorizado. No entanto, nenhum método de transmissão pela Internet ou
				de armazenamento eletrônico é 100% seguro, e não podemos garantir segurança absoluta.</p>

			<h2 style="font-size:20px;">5. Seus Direitos</h2>
			<p>Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Para exercer
				esses direitos, entre em contato conosco através do e-mail <a [href]="'mailto:' + env.infos.email">{{
					env.infos.email }}</a>.</p>

			<h2 style="font-size:20px;">6. Alterações na Política de Privacidade</h2>
			<p>Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre quaisquer
				mudanças publicando a nova política na plataforma. Recomendamos que você revise esta política
				regularmente para se manter informado sobre nossas práticas de privacidade.</p>

			<h2 style="font-size:20px;">7. Contato</h2>
			<p>Se você tiver alguma dúvida ou preocupação sobre esta Política de Privacidade, entre em contato conosco
				pelo e-mail <a [href]="'mailto:' + env.infos.email">{{ env.infos.email }}</a>.</p>

			<p style="text-align:right;">Data de Eficácia: 24 de março de 2024</p>


		</div>

		<div *ngIf="tela === 'termos'" class="printable-content-body">

			<h1 style="text-align:center; font-size:24px;">Termos e Condições de Uso</h1>

			<h2 style="font-size:20px;">1. Introdução</h2>
			<p>Bem-vindo à Dynpages! Estes termos e condições regulam o uso de nossa plataforma de criação de funis e
				páginas web personalizáveis. Ao se inscrever e utilizar a Dynpages, você concorda com os Termos aqui
				descritos. Por favor, leia-os atentamente.</p>

			<h2 style="font-size:20px;">2. Definições</h2>
			<ul>
				<li><strong>Usuário:</strong> Qualquer pessoa ou entidade que se inscreva ou utilize os serviços da
					Dynpages.</li>
				<li><strong>Plataforma:</strong> O serviço online oferecido pela Dynpages para criação de funis e
					páginas web personalizáveis.</li>
				<li><strong>Conteúdo:</strong> Todo o texto, gráficos, imagens, música, software, áudio, vídeo,
					informação ou outros materiais que os Usuários possam carregar, publicar ou de outra forma tornar
					disponíveis através da Plataforma.</li>
			</ul>

			<h2 style="font-size:20px;">3. Conta do Usuário</h2>
			<ul>
				<li><strong>Registro:</strong> Para utilizar a Dynpages, você deve se registrar e criar uma conta,
					fornecendo informações precisas, completas e atualizadas.</li>
				<li><strong>Responsabilidade:</strong> Você é responsável por manter a confidencialidade de suas
					informações de login e por todas as atividades que ocorram sob sua conta. Qualquer uso não
					autorizado de sua conta deve ser imediatamente comunicado à Dynpages.</li>
			</ul>

			<h2 style="font-size:20px;">4. Uso da Plataforma</h2>

			<h3 style="font-size:18px;">4.1 Licença de Uso</h3>
			<p>Concedemos a você uma licença limitada, não exclusiva, não transferível e revogável para usar a
				Plataforma conforme os Termos aqui estabelecidos.</p>

			<h3 style="font-size:18px;">4.2 Restrições de Uso</h3>
			<p>Ao utilizar a Plataforma, você concorda em não:</p>
			<ul>
				<li><strong>Uso Ilegal:</strong> Utilizar a Plataforma para qualquer finalidade ilegal ou não
					autorizada.</li>
				<li><strong>Propriedade Intelectual:</strong> Infringir os direitos de propriedade intelectual de
					terceiros, incluindo, mas não se limitando a, direitos autorais, patentes, marcas registradas,
					segredos comerciais ou outros direitos de propriedade.</li>
				<li><strong>Spam e Fraude:</strong> Enviar spam, participar de esquemas de pirâmide, phishing, não
					entregar ou outras atividades fraudulentas.</li>
				<li><strong>Conteúdo Ofensivo:</strong> Postar, carregar ou distribuir Conteúdo que seja difamatório,
					obsceno, pornográfico, abusivo, ofensivo, ameaçador, ou que promova ódio ou violência contra
					indivíduos ou grupos.</li>
				<li><strong>Segurança:</strong> Tentar ganhar acesso não autorizado a quaisquer sistemas ou redes
					conectados à Plataforma, interromper ou tentar interromper a operação da Plataforma ou de seus
					sistemas.</li>
				<li><strong>Captação de Dados Sensíveis (Phishing):</strong> Coletar informações pessoais ou sensíveis
					de outros usuários sem o seu consentimento explícito ou utilizar a Plataforma para esquemas de
					phishing.</li>
				<li><strong>Venda de Produtos Sem Entregáveis:</strong> Utilizar a Plataforma para vender produtos ou
					serviços sem possuir o entregável ou o produto final, caracterizando fraude e engano contra os
					consumidores.</li>
				<li><strong>Uso Automatizado:</strong> Utilizar bots, scripts ou outros métodos automatizados para
					acessar ou usar a Plataforma, exceto conforme expressamente permitido pela Dynpages.</li>
			</ul>

			<h3 style="font-size:18px;">4.3 Consequências da Violação</h3>
			<ul>
				<li><strong>Suspensão ou Encerramento:</strong> A Dynpages reserva-se o direito de suspender ou encerrar
					sua conta imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo, mas
					não se limitando a, violação destes Termos.</li>
				<li><strong>Responsabilidade por Danos:</strong> Você será responsável por qualquer dano causado à
					Dynpages ou a terceiros como resultado de sua violação destes Termos.</li>
				<li><strong>Ações Legais:</strong> A Dynpages poderá tomar ações legais contra você por qualquer uso
					ilegal ou não autorizado da Plataforma, incluindo, mas não se limitando, à busca de reparação civil
					e criminal.</li>
			</ul>

			<h2 style="font-size:20px;">5. Conteúdo do Usuário</h2>
			<ul>
				<li><strong>Propriedade:</strong> Você mantém todos os direitos sobre o Conteúdo que carrega na
					Plataforma. No entanto, ao fazer o upload, você concede à Dynpages uma licença global, não
					exclusiva, gratuita e transferível para usar, distribuir, reproduzir, modificar, adaptar e exibir
					publicamente o Conteúdo em conexão com a operação e promoção da Plataforma.</li>
				<li><strong>Responsabilidade pelo Conteúdo:</strong> Você é exclusivamente responsável pelo Conteúdo que
					carrega, publica ou de outra forma disponibiliza através da Plataforma e garante que possui todos os
					direitos necessários para tal.</li>
			</ul>

			<h2 style="font-size:20px;">6. Pagamentos e Assinaturas</h2>

			<h3 style="font-size:18px;">6.1 Assinatura</h3>
			<p>Certos recursos da Plataforma estão disponíveis apenas por meio de uma assinatura paga. Detalhes sobre os
				planos de assinatura, incluindo preços e benefícios, estão disponíveis em nosso site.</p>

			<h3 style="font-size:18px;">6.2 Cancelamento</h3>
			<p>Você pode cancelar sua assinatura a qualquer momento através de sua conta na Plataforma. As taxas pagas
				não são reembolsáveis, exceto conforme exigido pela lei aplicável. Após o cancelamento, você continuará
				a ter acesso aos serviços pagos até o final do período de assinatura vigente.</p>

			<h2 style="font-size:20px;">7. Política de Privacidade</h2>
			<p>Nossa Política de Privacidade descreve como coletamos, usamos e compartilhamos suas informações. Ao usar
				a Dynpages, você concorda com a coleta, uso e compartilhamento de informações conforme descrito em nossa
				Política de Privacidade. Recomendamos que você leia a Política de Privacidade cuidadosamente.</p>

			<h2 style="font-size:20px;">8. Modificações nos Termos</h2>
			<p>A Dynpages reserva-se o direito de modificar estes Termos a qualquer momento. Se fizermos alterações
				materiais, notificaremos você através da Plataforma ou por outros meios apropriados. O uso continuado da
				Plataforma após tais alterações constituirá sua aceitação dos novos Termos.</p>

			<h2 style="font-size:20px;">9. Limitação de Responsabilidade</h2>
			<p>Na máxima extensão permitida por lei, a Dynpages não será responsável por quaisquer danos indiretos,
				incidentais, especiais, consequenciais ou punitivos, ou por qualquer perda de lucros ou receitas,
				incorridos direta ou indiretamente, ou por qualquer perda de dados, uso, goodwill, ou outras perdas
				intangíveis, resultantes de (i) seu uso ou incapacidade de usar a Plataforma; (ii) qualquer conduta ou
				conteúdo de qualquer terceiro na Plataforma; (iii) qualquer Conteúdo obtido da Plataforma; e (iv)
				acesso, uso ou alteração não autorizados de suas transmissões ou Conteúdo.</p>

			<h2 style="font-size:20px;">10. Disposições Gerais</h2>

			<h3 style="font-size:18px;">10.1 Legislação Aplicável</h3>
			<p>Estes Termos serão regidos e interpretados de acordo com as leis do Brasil, sem consideração a conflitos
				de princípios legais.</p>

			<h3 style="font-size:18px;">10.2 Resolução de Disputas</h3>
			<p>Quaisquer disputas decorrentes ou relacionadas a estes Termos serão resolvidas através de arbitragem
				vinculativa conforme as regras da Câmara de Comércio Internacional, em vez de em tribunais de jurisdição
				geral. A arbitragem ocorrerá no Brasil, e você concorda com a jurisdição exclusiva e localidade de tais
				tribunais.</p>

			<h3 style="font-size:18px;">10.3 Separabilidade</h3>
			<p>Se qualquer disposição destes Termos for considerada inválida ou inexequível, as demais disposições
				permanecerão em pleno vigor e efeito.</p>

			<p>Ao utilizar a Dynpages, você reconhece que leu, entendeu e concorda em estar vinculado a estes Termos e
				Condições.</p>

			<p>Para mais informações, entre em contato conosco pelo e-mail <a [href]="'mailto:' + env.infos.email">
					{{ env.infos.email }}
				</a>.</p>

			<p style="text-align:right;">Data de Eficácia: 24 de março de 2024</p>


		</div>

	</div>

</ion-content>