<div *ngIf="validStart === true">

  <div class="warning-block" style="--app-background: var(--ion-color-medium-tint);">

    <div class="display-flex flex-wrap">

      <div class="w-10 display-flex flex-wrap justify-between text-right font-size-12">
        <div class="t-display-none" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white text-left">{{ contaPagamentos!.length }}
            pagamentos</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white text-left font-weight-600">Pago</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white text-left font-weight-600">Em aberto</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white text-left font-weight-600 color-medium">
            Perdido</div>
          <div class="padding-5 padding-bottom-0 font-weight-600 text-left">Totais</div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 text-left t-display-none">
            Conciliações
            <app-tooltip>Os valores totais de cada coluna devem ser idênticos aos valores configurados na conta
              (conciliações).</app-tooltip>
          </div>
        </div>
        <div class="t-w-5 t-margin-bottom-30" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Totais</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.valorReal | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.valorReal | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.valorReal | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.valorReal !== conta.valorReal"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.valorReal | dinheiro
            }}
          </div>
          <div *ngIf="conta && conta.valorReal !== undefined"
            class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.valorReal | dinheiro }}</div>
        </div>
        <div class="t-w-5 t-margin-bottom-30" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Parcelas</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.valor | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.valor | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.valor | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.valor !== conta.valor"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.valor | dinheiro }}
          </div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.valor | dinheiro
            }}</div>
        </div>
        <div class="t-w-5 t-margin-bottom-30" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Multas</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.multa | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.multa | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.multa | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.multa !== conta.multa"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.multa | dinheiro }}
          </div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.multa | dinheiro
            }}</div>
        </div>
        <div class="t-w-5 t-margin-bottom-30" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Juros</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.juros | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.juros | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.juros | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.juros !== conta.juros"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.juros | dinheiro }}
          </div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.juros | dinheiro
            }}</div>
        </div>
        <div class="t-w-5" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Descontos</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.desconto | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.desconto | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.desconto | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.desconto !== conta.desconto"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.desconto | dinheiro }}
          </div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.desconto |
            dinheiro }}</div>
        </div>
        <div class="t-w-5" style="width: calc(100% / 7)">
          <div class="padding-5 font-size-11 bg-color-medium-shade color-white">Taxas</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-success-shade">{{
            totaisContaPgtos.pago.tarifa | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-danger">{{
            totaisContaPgtos.aberto.tarifa | dinheiro }}</div>
          <div class="margin-top-5 margin-bottom-5 padding-5 bg-color-white color-warning-shade">{{
            totaisContaPgtos.perdido.tarifa | dinheiro }}</div>
          <div class="padding-5 padding-bottom-0 font-weight-600">
            <span *ngIf="conta && totaisContaPgtos.todos.tarifa !== conta.tarifa"
              class="app-icon-circle color-danger font-size-10"></span> {{ totaisContaPgtos.todos.tarifa | dinheiro }}
          </div>
          <div *ngIf="conta" class="padding-5 padding-bottom-0 font-weight-600 t-display-none">{{ conta.tarifa |
            dinheiro }}</div>
        </div>
      </div>

    </div>

  </div>

</div>

<div *ngIf="validStart === false">Resumo de pgtos com parâmetros inválidos!</div>