:host {

    --ion-font-family: 'Visby Round';
    font-size: 16px;

    .block-title {
        font-size: 50px;
        font-weight: 600;
    }

    .button-big {
        --padding-top: 20px;
        --padding-bottom: 20px;
    }

    @media not screen and (min-width: 1100px) {

        .block-title {
            font-size: 35px;
        }

    }

}