<ng-container *ngIf="validStart === true">

  <div *ngIf="appExtraButtons?.length || appPrint.observers.length || this.id"
    class="display-flex justify-between flex-wrap margin-right-10 t-margin-right-0">

    <div class="display-flex flex-wrap">



    </div>

    <div class="display-flex justify-end align-center flex-wrap t-justify-start">

      <div>
        <ion-button *ngFor="let extraButtom of appExtraButtons" [color]="extraButtom.color || 'dark'" fill="clear"
          size="small" (click)="extraButtom.click($event)">
          <ion-icon *ngIf="extraButtom.ionIcon" [name]="extraButtom.ionIcon"
            [slot]="!extraButtom.text ? 'icon-only' : 'start'" class="t-display-none"></ion-icon>
          <ion-icon *ngIf="extraButtom.ionIcon" [name]="extraButtom.ionIcon" slot="icon-only"
            class="display-none t-display-block"></ion-icon>
          <span *ngIf="extraButtom.text" class="text-initial t-display-none">{{ extraButtom.text }}</span>
        </ion-button>
      </div>

      <div>
        <ion-button *ngIf="this.id && (show.prev)" color="dark" title="Voltar um registro" (click)="prevClick()"
          hotkey="ctrl+arrowLeft" (onHotkey)="prevClick()" fill="clear" size="small"
          style="--padding-start: 6px;--padding-end: 6px;">
          <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <div>
        <ion-button *ngIf="this.id && (show.next)" color="dark" title="Avançar um registro" (click)="nextClick()"
          hotkey="ctrl+arrowRight" (onHotkey)="nextClick()" (click)="nextClick()" fill="clear" size="small"
          style="--padding-start: 6px;--padding-end: 6px;">
          <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <div>
        <ion-button *ngIf="appPrint.observers.length && (show.print === undefined || show.print)"
          title="Imprimir formulário" color="dark" fill="clear" size="small" (click)="appPrint.next($event)">
          <!-- <ion-icon name="print" slot="start" class="t-display-none"></ion-icon> -->
          <ion-icon name="print" slot="icon-only" class="display-none_ t-display-block_"></ion-icon>
          <!-- <span class="t-display-none">Imprimir</span> -->
        </ion-button>
      </div>

      <div>

        <ion-button *ngIf="this.id && (show.share === undefined || show.share)" color="dark" title="Compartilhar"
          [hintWidth]="70" (click)="shareClick()" fill="clear" size="small"
          style="--padding-start: 6px;--padding-end: 6px;">
          <ion-icon name="share-social" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-modal cssClass="modal-draggable modal-small modal-adjust" [isOpen]="modalShareOpen"
          (didDismiss)="modalShareOpen = false" [enterAnimation]="this.appUtil.enterAnimation('grow')"
          [leaveAnimation]="this.appUtil.leaveAnimation('grow')">
          <ng-template>
            <app-header appType="modal" appTitle="Compartilhar" [maximizable]="false" [minimizable]="false"
              appSubtitle="Envie o link da página." (appDismiss)="modalShareOpen = false"></app-header>
            <ion-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-button class="w-10 margin-0 text-initial" style="--border-width: 1px;" color="dark"
                      fill="outline" (click)="share('copy')">
                      <span class="app-icon-docs"></span> Copiar link
                    </ion-button>
                  </ion-col>
                  <ion-col size="12">
                    <ion-button class="w-10 margin-0 text-initial" style="--border-width: 1px;" color="success"
                      fill="outline" (click)="share('whatsapp')">
                      <span class="app-icon-whatsapp"></span> WhatsApp
                    </ion-button>
                  </ion-col>
                  <ion-col size="12">
                    <ion-button class="w-10 margin-0 text-initial" style="--border-width: 1px;" color="medium"
                      fill="outline" (click)="share('email')">
                      <span class="app-icon-mail-4"></span> Email
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </ng-template>
        </ion-modal>

      </div>

    </div>

  </div>

</ng-container>