<div class="bg-color-dark color-white font-size-11 cursor-pointer"
  style="padding: 2px 7px 3px 7px; border-radius: 0 0 5px 5px;" (click)="openModalReport()">
  Envie sugestões para nós :)
</div>

<ion-modal cssClass="modal-draggable modal-adjust" [class.display-none]="enviando" [isOpen]="modalReportOpen"
  (didDismiss)="modalReportOpen = false" [enterAnimation]="appUtil.enterAnimation('grow')"
  [leaveAnimation]="appUtil.leaveAnimation('grow')">
  <ng-template>

    <app-header appType="modal" appTitle="Reporte" [maximizable]="false" [minimizable]="false"
      appSubtitle="Informe o máximo de detalhes possível" (appConfirm)="submitReport()"
      (appDismiss)="modalReportOpen = false"></app-header>

    <ion-content>

      <div class="padding-15">

        <div class="warning-block margin-bottom-15">
          <p class="margin-top-0">● Nossa incrível plataforma acabou de ser lançada e pode ser necessário alguns
            ajustes.</p>
          <p>● Uma print da tela será enviada para que possamos analisar com mais precisão.</p>
          <p>● Retornaremos com feedback em até 1 dias útil.</p>
          <p class="margin-bottom-0">● Agradecemos pela sua colaboração.</p>
        </div>

        <ion-item>
          <ion-label position="floating">Informe os detalhes aqui (Sugestões, erros, críticas e etc).</ion-label>
          <ion-textarea [autoGrow]="true" placeholder="Obrigatório" required maxlength="1000" style="min-height: 100px;"
            ngDefaultControl [(ngModel)]="reportText" (keyUp)="keyUpTxtArea()"></ion-textarea>
        </ion-item>

      </div>

    </ion-content>
  </ng-template>
</ion-modal>