<app-header *ngIf="context !== 'select-lite'" [appType]="headerType" [appTitle]="title" [appSubtitle]="subtitle"
  (appDismiss)="dismiss()" [minimizable]="context !== 'select-full'"></app-header>

<ion-content>

  <div class="main-block" [class]="{'main-block-page-list': context === 'page-list'}">

    <div class="list-default">

      <div class="list-default-action-buttons">

        <app-action-buttons [parentContext]="context" [appExtraButtons]="extraButtons" (appPrint)="print($event)"
          (appAdd)="form()" (appRefresh)="load()" (appBulk)="showBulkSelect()"></app-action-buttons>

      </div>

      <div class="list-default-header t-border-radius-0"
        [class]="{'list-default-header-full': context === 'select-full' || context === 'modal-list'}">

        <app-filters [(appSelectDatas)]="filtersSelectDatas" [appShow]="[]" [(appFilters)]="filters"
          (appFiltersChange)="load()" [parentContext]="context"></app-filters>

      </div>

      <div class="list-default-body">

        <app-filters-selected [appSelect]="appSelect" [selectData]="state.selectData"></app-filters-selected>

        <app-bulk-warning *ngIf="bulkSelect" (appExcluir)="excluirSelecionados()" (appSelecionaTodos)="selecionaTodos()"
          [appExtraButtons]="bulkExtraButtons"></app-bulk-warning>

        <div class="list-default-table">

          <table>

            <tr *ngIf="context !== 'select-lite'" class="list-default-table-header" appOrder
              [(appOrderFilters)]="filters" [parentContext]="context" (appOrderFiltersChange)="load()">
              <th style="min-width: 60px; width: 60px;" appOrderProperty="id">ID</th>
              <th style="min-width: 140px;" appOrderProperty="nome">Nome</th>
              <th style="min-width: 110px; width: 110px;" appOrderProperty="ativo">Publicado</th>
              <th style="min-width: 120px; width: 120px;" appOrderProperty="dataCadastro">Cadastro</th>
              <th style="width: 1px; padding: 0; text-align: center;"></th>
            </tr>

            <tr *ngIf="context === 'select-lite' && opcaoCadastrar && !bulkSelect"
              class="list-default-table-add-button ion-activatable ripple-parent" (click)="form()" prevent-double-click>
              <td colspan="100%">
                <div>
                  <span class="list-default-table-add-button-icon app-icon-plus"></span>
                  <span>Cadastrar novo</span>
                </div>
              </td>
              <ion-ripple-effect></ion-ripple-effect>
            </tr>

            <tr *ngIf="context !== 'page-list' && opcaoNenhum && !bulkSelect"
              class="list-default-table-sel-nenhum-button ion-activatable ripple-parent" (click)="seleciona()">
              <td colspan="100%" [class.text-center]="context === 'select-lite'">Selecionar nenhum</td>
              <ion-ripple-effect></ion-ripple-effect>
            </tr>

            <ng-container *ngFor="let projeto of projetos; trackBy:appUtil.trackByFn(['id'])">

              <tr class="list-default-table-line ion-activatable ripple-parent"
                [class]="{'list-default-table-line-selected': some(state.selectData, 'id', projeto.id)}"
                (click)="seleciona(projeto)" prevent-double-click>

                <td class="list-default-table-checkbox">
                  <div>
                    <ion-checkbox *ngIf="bulkSelect" stop-propagation [(ngModel)]="projeto.selected"></ion-checkbox>
                    <span class="badge-id">{{ projeto.id }}</span>
                  </div>
                </td>
                <td>{{ projeto.nome }}</td>

                <td *ngIf="context !== 'select-lite'" class="text-center">
                  <span
                    [class]="projeto.ativo ? 'app-icon-check-1 color-success' : 'app-icon-cancel color-danger'"></span>
                  {{ projeto.ativo ? 'Sim' : 'Não' }}
                </td>

                <td *ngIf="context !== 'select-lite'">{{ projeto.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</td>

                <td *ngIf="context === 'select-full' && !bulkSelect" style="padding: 0;">
                  <ion-buttons class="justify-end">
                    <ion-button *ngIf="context === 'select-full' && !bulkSelect" class="list-default-table-button"
                      fill="clear" color="dark" (click)="form(projeto)" stop-propagation title="Alterar">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </td>

                <ion-ripple-effect></ion-ripple-effect>

              </tr>

            </ng-container>

          </table>

          <p *ngIf="projetos && !projetos.length"
            class="margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50 bg-color-white text-center">
            Nenhum registro encontrado.
          </p>

          <app-loading *ngIf="!projetos"></app-loading>

        </div>

      </div>

      <app-pager *ngIf="filters && projetosTotal && context !== 'select-lite'"
        [position]="isModal ? 'default' : 'fixed'" [itemsCount]="projetosTotal?.total" [pager]="filters.pager"
        (appChange)="pagerChange()"></app-pager>

      <app-footer *ngIf="!isModal && context !== 'select-lite' && context !== 'embed-list'"></app-footer>

    </div>

  </div>

  <app-taskbar *ngIf="!isModal && context !== 'select-lite' && context !== 'embed-list'"></app-taskbar>

</ion-content>