<div *ngIf="validStart === true">

  <div *ngIf="0" class="flex-center flex-wrap font-visby-round">
    <ion-button fill="clear" color="dark" class="text-initial"
      [class]="(planoPeriodo === env.enums.ContratoPlanoPeriodo.MENSAL) ? 'font-weight-900 text-underline' : ''"
      (click)="selecionaPlanoPeriodo(env.enums.ContratoPlanoPeriodo.MENSAL)">Mensal</ion-button>
    <ion-button fill="clear" color="dark" class="text-initial"
      [class]="(planoPeriodo === env.enums.ContratoPlanoPeriodo.TRIMESTRAL) ? 'font-weight-900 text-underline' : ''"
      (click)="selecionaPlanoPeriodo(env.enums.ContratoPlanoPeriodo.TRIMESTRAL)">Trimetral</ion-button>
    <ion-button fill="clear" color="dark" class="text-initial"
      [class]="(planoPeriodo === env.enums.ContratoPlanoPeriodo.SEMESTRAL) ? 'font-weight-900 text-underline' : ''"
      (click)="selecionaPlanoPeriodo(env.enums.ContratoPlanoPeriodo.SEMESTRAL)">Semestral</ion-button>
    <ion-button fill="clear" color="dark" class="text-initial"
      [class]="(planoPeriodo === env.enums.ContratoPlanoPeriodo.ANUAL) ? 'font-weight-900 text-underline' : ''"
      (click)="selecionaPlanoPeriodo(env.enums.ContratoPlanoPeriodo.ANUAL)">Anual</ion-button>
  </div>

  <div class="display-flex flex-wrap">

    <ng-container *ngFor="let _ of [].constructor(4); let idx = index">

      <div *ngIf="idx" class="w-33 padding-15 t-w-10 t-margin-bottom-30">

        <div class="position-relative display-flex flex-wrap align-top h-10 padding-20 border-radius-8"
          [class]="(modo === 'radio' && planoSel === idx) ? 'bg-color-success color-white' : 'bg-color-white'"
          style="box-shadow: 0 5px 29px #CECECE70, 0 0px 8px #CECECE75;">

          <div *ngIf="planoAtual === idx"
            class="position-absolute top-0 right-0 padding-10-x padding-5 bg-color-secondary color-white font-visby-round font-size-16 font-weight-900"
            style="border-radius: 0 8px 0 10px;">
            Plano atual
          </div>

          <div>

            <h3 class="font-weight-900">{{ env.enums.ContratoPlanoOpcaoStr['PLANO_' + idx] }}</h3>

            <div *ngIf="planoPeriodo !== env.enums.ContratoPlanoPeriodo.MENSAL" class="font-weight-100 opacity-7"
              style="text-decoration: line-through">
              {{ env.planos['PLANO_' + idx + '_VALOR_MENSAL'] | dinheiro }}
            </div>

            <h3 class="margin-top-0 font-weight-900">
              {{ calculaPlanoProporcaoMensal(this.planoPeriodo, idx) | dinheiro }}
              <span class="font-weight-500 font-size-14 opacity-7">
                <span class="font-weight-800">
                  {{ calculaPlanoProporcaoMensalDesconto(this.planoPeriodo, idx)
                  ? (calculaPlanoProporcaoMensalDesconto(this.planoPeriodo, idx) | dinheiro:false:0) + '% off'
                  : '' }}
                </span>
                por mês
              </span>
            </h3>

            <p class="font-size-14 opacity-7">{{ env.planos['PLANO_' + idx + '_INFO'] }}</p>

            <div class="margin-top-30 margin-bottom-30 bg-color-light" style="height: 1px;"></div>

            <div class="margin-bottom-25">
              <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  Até <span class="font-weight-800">
                    {{ env.planos['PLANO_' + idx + '_LIMITE_GERAL_FUNIS'] }}
                  </span> funis
                </div>
              </div>
              <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  Até <span class="font-weight-800">
                    {{ env.planos['PLANO_' + idx + '_LIMITE_GERAL_PERFIS'] }}
                  </span> leads
                </div>
              </div>
              <!-- <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  <span class="font-weight-800">
                    {{ (env.planos['PLANO_' + idx + '_LIMITE_GERAL_ARQUIVO_BYTES'] / 1024 /
                    1024).toFixed(0) }} MB
                  </span>
                  de armazenamento total
                </div>
              </div> -->
              <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  Componentes interativos
                </div>
              </div>
              <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  Pixel e Scripts de trackeamento
                </div>
              </div>
              <div class="display-flex margin-bottom-5 align-center">
                <img src="assets/images/site/icon-plano-item.png" alt="Icon plano">
                <div class="margin-left-10 font-size-14">
                  Gestão e downloads dos leads
                </div>
              </div>
              <div class="display-flex margin-bottom-5 align-center">
                <img *ngIf="env.planos['PLANO_' + idx + '_DOMINIO']" src="assets/images/site/icon-plano-item.png"
                  alt="Icon plano">
                <div *ngIf="!env.planos['PLANO_' + idx + '_DOMINIO']"
                  class="dark-mode-off flex-center border-radius-50 bg-color-light-tint color-danger"
                  style="width: 29px; aspect-ratio: 1/1;">
                  <span class="app-icon-cancel-1 font-size-18" style="margin-top: 3px;"></span>
                </div>
                <div class="margin-left-10 font-size-14">
                  Domínio próprio
                </div>
              </div>
              <div class="display-flex margin-bottom-5 align-center">
                <img *ngIf="env.planos['PLANO_' + idx + '_WEBHOOK']" src="assets/images/site/icon-plano-item.png"
                  alt="Icon plano">
                <div *ngIf="!env.planos['PLANO_' + idx + '_WEBHOOK']"
                  class="dark-mode-off flex-center border-radius-50 bg-color-light-tint color-danger"
                  style="width: 29px; aspect-ratio: 1/1;">
                  <span class="app-icon-cancel-1 font-size-18" style="margin-top: 3px;"></span>
                </div>
                <div class="margin-left-10 font-size-14">
                  Webhook
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="modo === 'button'" class="w-10 t-text-center" style="align-self: flex-end;">
            <ion-button shape="round" class="button-gradient-x w-10 text-initial" (click)="selecionaPlano(idx)">
              Assinar agora!
            </ion-button>
          </div>

          <div *ngIf="modo === 'radio'" class="w-10 t-text-center" style="align-self: flex-end;">
            <ion-button shape="round" [color]="(modo === 'radio' && planoSel === idx) ? 'primary' : 'secondary'"
              class="button-gradient-x w-10 text-initial" (click)="selecionaPlano(idx)">
              <ng-container *ngIf="planoSel === idx">
                <span class="app-icon-check-1"></span> Selecionado
              </ng-container>
              <ng-container *ngIf="planoSel !== idx">
                Quero este
              </ng-container>
            </ion-button>
          </div>

        </div>

      </div>

    </ng-container>

  </div>

</div>

<div *ngIf="validStart === false">Resumo de pgtos com parâmetros inválidos!</div>