<ion-split-pane when="(min-width: 9999px)" contentId="site"
  style="--side-max-width: 260px; --side-min-width: 260px; --side-width: 260px;">

  <ion-menu side="start" menuId="site" contentId="site" style="--width: 260px;">

    <ion-menu-toggle class="h-10" autoHide="false">

      <ion-header class="ion-no-border">

        <ion-toolbar color="tertiary">
          <ion-menu-toggle autoHide="false" class="flex-center w-10 cursor-pointer" [routerLink]="'/'"
            style="height: 70px; padding: 15px 0;">
            <img src="assets/images/logo-branco.png" alt="Logo" class="display-block h-10"
              style="max-width: calc(100% - 40px); object-fit: contain;">
          </ion-menu-toggle>
        </ion-toolbar>

      </ion-header>

      <ion-content>

        <div style="padding-bottom: 100px;">

          <div class="margin-top-30 margin-bottom-30">
            <ion-item button lines="none" class="text-initial" routerLink="/auth">
              Entrar {{ authService.isAuth() ? ' em ' + usuarioLogado.nomeCompleto : '' }}
            </ion-item>
          </div>

          <ion-item button lines="none"
            (click)="messageService.get('site.scrollToBlock').next('ferramenta')">Recursos</ion-item>

          <ion-item button lines="none"
            (click)="messageService.get('site.scrollToBlock').next('recursos')">Recursos</ion-item>

          <ion-item button lines="none" (click)="messageService.get('site.scrollToBlock').next('conheca')">Conheça
            melhor</ion-item>

          <ion-item button lines="none"
            (click)="messageService.get('site.scrollToBlock').next('planos')">Planos</ion-item>

          <ion-item button lines="none" (click)="messageService.get('site.scrollToBlock').next('faq')">FAQ</ion-item>

          <ion-item button lines="none"
            (click)="messageService.get('site.scrollToBlock').next('rodape')">Atendimento</ion-item>

        </div>

      </ion-content>

    </ion-menu-toggle>

  </ion-menu>

  <ion-router-outlet id="site"></ion-router-outlet>

</ion-split-pane>