:host {

  ion-content {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-tertiary-contrast);
  }

  ion-menu {

    border-right: 0;

    ion-list-header {

      font-weight: 600;
      font-size: 17px;
      min-height: 25px;
      // color: var(--ion-color-white);
      --color: var(--ion-color-tertiary-contrast);

      &:not(:first-child) {
        margin-top: 30px;
      }

    }

    ion-item {

      transition: ease 0.4s width;

      &::part(native) {
        font-size: 14px;
        font-weight: 450;
      }

      // --inner-border-width: 0;
      --background: var(--ion-color-tertiary-shade);
      --color: var(--ion-color-tertiary-contrast);
      border-radius: 3px;
      // margin: 5px 10px 5px 10px;
      // width: calc(100% - 20px);

      span {

        margin-right: 15px;
        font-size: 20px;

      }

      &::before {

        display: none; // removendo pois não estava legal
        content: ' ';
        height: 80%;
        width: 8px;
        // border-radius: 0px 4px 4px 0px;
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 10%;
        z-index: 2;

      }

      &.active {

        //--color: var(--ion-color-secondary);

        //--background: var(--ion-color-light);
        //color: var(--ion-color-dark);

        --background: var(--ion-color-light);
        --color: var(--ion-color-tertiary);
        border-radius: 3px 0 0 3px;
        // margin: 5px 0 5px 10px;
        // width: calc(100% - 10px);
        width: 100%;

        &::before {
          background-color: var(--ion-color-dark);
        }

        span {
          //color: var(--ion-color-dark);
          color: var(--ion-color-tertiary);
        }

      }

    }

  }

}