<div *ngIf="validStart === true">

  <div *ngFor="let anexo of entity[keyArr]; let idx = index" class="padding-5">

    <div class="display-flex align-center flex-wrap position-relative border-radius-10 bg-color-light"
      [class.opacity-4]="anexo.delete">

      <div class="padding-5 t-w-10" style="width: 120px;">
        <ion-item [display-errors]="{property: this.errorPrevKey + '.' + this.keyArr + '.' + idx + '.tipo', errors}">
          <ion-label position="stacked">Tipo</ion-label>
          <ion-select interface="popover" placeholder="Selecione" [(ngModel)]="anexo.tipo">
            <ng-container *ngFor="let anexoBaseTipo of anexoBaseTipos">
              <ion-select-option [value]="anexoBaseTipo.value">{{ anexoBaseTipo.label }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </div>

      <div class="flex-1 padding-5 t-w-10 t-flex-none">
        <ion-item [display-errors]="{property: this.errorPrevKey + '.' + this.keyArr + '.' + idx + '.nome', errors}">
          <ion-label position="floating">Descrição</ion-label>
          <ion-input [(ngModel)]="anexo.nome" [maxlength]="30" ngDefaultControl></ion-input>
        </ion-item>
      </div>

      <div *ngIf="!anexo.id && anexo.tipo === env.enums.AnexoBaseTipo.LINK" class="flex-1 padding-5 t-w-10">
        <ion-item
          [display-errors]="{property: this.errorPrevKey + '.' + this.keyArr + '.' + idx + '.arquivoNome', errors}">
          <ion-label position="floating">Link</ion-label>
          <ion-input [(ngModel)]="anexo.arquivoNome" [maxlength]="200" ngDefaultControl></ion-input>
        </ion-item>
      </div>

      <div *ngIf="!anexo.id && anexo.tipo === env.enums.AnexoBaseTipo.ARQUIVO" class="padding-5 t-w-10"
        [display-errors]="{property: this.errorPrevKey + '.' + this.keyArr + '.' + idx + '.valor', errors}">
        <div class="flex-center border-radius-10 bg-color-white cursor-pointer"
          style="height: 57px; padding: 12px 15px; border: 2px dashed var(--ion-color-medium);"
          (drop)="arquivoDrop(anexo, $event)" (dragover)="$event.preventDefault()" (click)="arquivoOpenDialog(anexo)">
          <div *ngIf="anexo.arquivoUpload">{{ anexo.arquivoNome }}</div>
          <div *ngIf="!anexo.arquivoUpload">Arraste e solte o arquivo aqui ou clique para selecionar.</div>
        </div>
      </div>

      <div *ngIf="anexo.id" class="padding-5 t-w-5">
        <ion-button color="medium" class="margin-0 text-initial t-w-10 t-h-auto" style="height: 54px;"
          (click)="downloadAnexo(anexo)">
          <ion-icon slot="icon-only" name="download-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="padding-5 t-w-5">
        <ion-button color="medium" class="margin-0 text-initial t-w-10 t-h-auto" style="height: 54px;"
          (click)="removeAnexo(anexo)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>

    </div>

  </div>

  <div class="padding-5">
    <ion-button fill="outline" color="medium" class="w-10 h-10 margin-0 text-initial"
      style="--border-style: dashed; --border-radius: 10px;" (click)="novoAnexo()">Novo anexo</ion-button>
  </div>

</div>

<div *ngIf="validStart === false">Anexador com parâmetros inválidos!</div>