@import "assets/fonts/montserrat/stylesheet.css";
@import "assets/fonts/visby-round/stylesheet.css";
// @import "assets/fonts/poppins/stylesheet.css";
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');

* {
	user-select: auto !important;
}

:root {
	--ion-font-family: "Montserrat", sans-serif;
	// --ion-font-family: 'Visby Round', sans-serif;
}

body {

	font-size: 12px;

	&:not(.painel) {
		ion-content {
			// --background: var(--ion-color-black);
			// --color: var(--ion-color-black-contrast);
		}

		ion-modal {
			&::part(content) {
				// border: 1px solid var(--ion-color-dark-tint);
			}
		}
	}

}

a {
	color: var(--ion-color-secondary);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Visby Round', sans-serif;
	font-weight: 800;
}

ion-menu {
	border-right: 0;
}

ion-content {
	--background: var(--ion-color-white);
	--color: var(--ion-color-dark);
}

ion-item {

	&.select-interface-option {
		&.item-label {
			--border-radius: 0px;
		}
	}

	align-items: center;
	font-size: 13px;

	&.app-select,
	&.item-input,
	&.item-select,
	&.item-label {

		--min-height: 50px;
		--border-radius: 8px;
		--border-width: 1px;
		--inner-border-width: 0;
		--highlight-height: 0px;
		// --highlight-background: var(--ion-color-danger-shade);

		&.item-has-focus {
			ion-label {
				color: var(--ion-color-contrast) !important;
				font-weight: 600;
			}
		}

		ion-icon {
			// color: var(--ion-color-medium);
		}

		ion-label {
			font-size: 13px !important;
			padding-top: 2px;
		}

		ion-select::part(icon) {
			display: none;
		}

		ion-input,
		ion-select,
		ion-textarea {
			font-size: 13px;
		}
	}

	&.app-number-item {
		ion-label {
			font-size: 11px !important;
		}
	}

	ion-checkbox {
		margin-right: 15px;
		margin-bottom: 14px;
		margin-top: 14px;
		--border-color: var(--ion-color-dark);
		--checkbox-background-checked: var(--ion-color-dark);
		--checkmark-color: var(--ion-color-white);

		&::part(label) {
			color: var(--ion-color-dark);
		}
	}

	ion-checkbox::part(container) {
		border: 1px solid var(--ion-color-dark);
	}

	&.app-invalid,
	&.ion-invalid {

		&.app-select,
		&.item-input,
		&.item-select,
		&.item-label {
			--highlight-background: var(--ion-color-danger-shade) !important;
			// --ion-color-shade: var(--ion-color-danger-shade) !important;

			ion-icon {
				color: var(--ion-color-danger-shade);
			}
		}
	}

	&.app-valid,
	&.ion-valid {

		&.app-select,
		&.item-input,
		&.item-select,
		&.item-label {
			--highlight-background: var(--ion-color-success) !important;
			// --ion-color-shade: var(--ion-color-success) !important;

			// ion-icon {
			// 	color: var(--ion-color-success) !important;
			// }
		}
	}

	&.item-has-focus:not(.ion-invalid) {

		&.app-select,
		&.item-input,
		&.item-select,
		&.item-label {
			--highlight-background: var(--ion-color-dark) !important;
			// --ion-color-shade: var(--ion-color-dark) !important;

			ion-icon {
				color: var(--ion-color-dark) !important;
			}
		}
	}

}

ion-button {
	--box-shadow: none;
}

ion-select-popover {
	ion-list {
		padding: 0 !important;
	}
}

.alert-message {
	color: var(--ion-color-medium-shade) !important;
}

.alert-button {
	color: var(--ion-color-secondary) !important;
}

.dark-mode {
	.aster-required {
		color: var(--ion-color-danger-tint);
	}
}

.aster-required {
	color: var(--ion-color-danger);
}

*::part(backdrop) {
	// background-color: black !important;
	--ion-backdrop-color: black;
}

// ion-modal:not(.modal-select-lite)::part(content) {

.dark-mode {
	ion-modal::part(backdrop) {
		// background-color: #777777 !important;
		--ion-backdrop-color: #777777;
	}
}

ion-modal {

	--border-radius: 8px;

	&.modal-select-lite {

		.list-default-header,
		.list-default-body {
			// border-radius: 0 !important;
		}
	}

	.centro-full {

		.centro-980,
		.centro-1330 {
			max-width: 100%;
		}
	}

}

app-tooltip[slot="end"] {
	margin-inline-start: 15px !important;
	margin-left: 10px !important;
	z-index: 2;
}

.main-block {
	width: 100%;
	max-width: 1584px;
	margin-left: auto;
	margin-right: auto;

	&.main-block-page-list {
		padding: 20px;
	}
}

@media not screen and (min-width: 1100px) {
	.main-block {
		padding: 0 !important;
	}
}

.bg-gradient-x {
	background: var(--app-color-bg-gradient-x);
}

.bg-gradient-y {
	background: var(--app-color-bg-gradient-y);
}

.button-gradient-x,
.button-gradient-y {
	--padding-top: 20px;
	--padding-bottom: 20px;
	--color: white;
}

.button-gradient-x {
	--background: var(--app-color-bg-gradient-x);
}

.button-gradient-y {
	--background: var(--app-color-bg-gradient-y);
}

.tooltip-content {
	>p:first-child {
		margin-top: 0;
	}

	>p:last-child {
		margin-bottom: 0;
	}
}

.badge-id,
.badge-id-small {

	display: inline-block;
	margin-right: 5px;
	border-radius: 30px;
	background-color: var(--ion-color-light-shade);
	color: var(--ion-color-black);
	font-weight: 400;

	&.bg-color-white {
		background-color: var(--ion-color-white);
	}

	&.bg-color-black {
		background-color: var(--ion-color-black);
	}
}

.badge-id-small {
	padding: 2px 3px 1px 3px;
	font-size: 9px;
}

.badge-id {
	padding: 2px 5px 1px 5px;
	font-size: 10px;
}

.warning-block {

	padding: 15px;
	border-radius: 3px;
	color: var(--app-color, var(--ion-color-black));
	border-left: 5px solid var(--app-background, var(--ion-color-primary-shade));
	overflow: hidden;
	position: relative;
	z-index: 1;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		opacity: 0.3;
		z-index: -1;
		background-color: var(--app-background, var(--ion-color-primary-tint));
	}

}

.list-default {

	.list-default-header {

		overflow: hidden;
		// border-radius: 8px 8px 0 0;
		border-radius: 10px;

		&.list-default-header-full {
			border-radius: 0;
		}
	}

	.list-default-body {

		// background-color: var(--ion-color-white);
		background-color: var(--ion-color-light-dark-tint);
		color: var(--ion-color-dark);
		border: 1px solid var(--ion-color-light-shade);
		// border-top-width: 0;
		// border-radius: 0 0 8px 8px;
		margin-top: 15px;
		border-radius: 10px;

		&.list-default-body-standalone {

			border-top-width: 1px;
			// border-radius: 8px;
			border-radius: 10px;

			.list-default-table {
				border-radius: 8px;
			}

		}

		.list-default-filtereds {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 3px;

			p {
				width: 100%;
				color: var(--ion-color-medium);
				font-size: 11px;
				margin: 2px 0 3px 4px;
			}

			.list-default-filtereds-badge-wrap {
				padding: 2px;

				.list-default-filtereds-badge {
					padding: 3px 6px;
					font-size: 11px;
					font-weight: normal;
					border-radius: 20px;
					cursor: pointer;
					color: var(--ion-color-success-contrast);
					background: var(--ion-color-success);

					&:hover {
						background: var(--ion-color-danger);
					}
				}
			}
		}

		.list-default-table {
			max-width: 100%;
			overflow-x: auto;
			// border-radius: 0 0 8px 8px;
			border-radius: 10px;

			table {

				min-width: 100%;

				tr {

					position: relative;
					border: 1px solid var(--ion-color-light);
					border-width: 0px 0; // 1px 0;
					// cursor: pointer;

					&.list-default-table-line:not(.list-default-table-header):nth-child(even) td {
						// background: var(--ion-color-light-tint);
						background: var(--ion-color-white);
					}

					&.list-default-table-line:not(.list-default-table-header):nth-child(odd) td {
						background: var(--ion-color-light);
					}

					&.list-default-table-header {

						th {
							// background: var(--ion-color-light-dark);
							// color: var(--ion-color-black);
							background: var(--ion-color-secondary);
							color: var(--ion-color-secondary-contrast);
						}

						th.list-default-table-header-order:hover {
							background: var(--ion-color-secondary-tint);
							// color: var(--ion-color-black-tint);
							cursor: pointer;
						}

						th.list-default-table-header-order:not(.app-icon-sort-up, .app-icon-sort-down)::before {
							opacity: 0.2;
						}
					}

					&:not(.list-default-table-line, .list-default-table-header, .list-default-table-no-hover):hover th {
						// background: var(--ion-color-white) !important;
						background: rgba(var(--ion-color-primary-rgb), 0.3) !important;
					}

					&:not(.list-default-table-line, .list-default-table-header, .list-default-table-no-click):hover th {
						cursor: pointer;
					}

					&.list-default-table-line {

						td {
							background: var(--ion-color-white);
						}

						&.list-default-table-line-selected {
							td {
								font-weight: 600;
								background: rgba(var(--ion-color-primary-rgb), 0.1) !important;
							}
						}
					}

					&:not(.list-default-table-header, .list-default-table-no-hover):hover td {
						// background: var(--ion-color-white) !important;
						background: rgba(var(--ion-color-primary-rgb), 0.3) !important;
					}

					&:not(.list-default-table-header, .list-default-table-no-click):hover td {
						cursor: pointer;
					}

					&.list-default-table-add-button {

						td {

							background: var(--ion-color-white) !important;

							&:hover {
								background: var(--ion-color-white) !important;
							}

							div {
								width: 100%;
								padding: 3px;
								// border: 1px dashed var(--ion-color-medium);
								border-radius: 8px;
								font-weight: 600;
								text-align: center;
								height: 32px;
								display: flex;
								align-items: center;
								justify-content: center;
								background: var(--ion-color-primary);
								color: var(--ion-color-primary-contrast);

								.list-default-table-add-button-icon {
									margin: 0 3px 0 0;
								}

								&:hover {
									background: var(--ion-color-primary-tint);
								}
							}

						}

					}

					&.list-default-table-sel-nenhum-button {

						td {

							color: var(--ion-color-secondary);
							background: var(--ion-color-white);

							&:hover {
								background: var(--ion-color-light-shade) !important;
							}

						}

					}

					th {
						padding: 8px 5px;
						text-align: left;
						font-weight: 500;
					}

					td {

						padding: 5px;
						// word-wrap: anywhere;

						&.list-default-table-checkbox {

							width: 30px;

							>div {

								display: flex;
								align-items: center;

								ion-checkbox {
									// display: block;
									margin-right: 15px;
								}

								// span {
								//   min-width: 18px;
								//   padding: 1px 4px;
								//   background: var(--ion-color-light-shade);
								//   border-radius: 100px;
								//   text-align: center;
								// }

							}

						}

						.list-default-table-list-link {
							color: var(--ion-color-secondary);
							cursor: pointer;
							padding: 3px 5px;
							border-radius: 5px;

							&:hover {
								background-color: var(--ion-color-light);
							}
						}

						.list-default-table-button {
							margin: 0;
							font-size: 11px;
							--padding-top: 0px;
							--padding-bottom: 0px;
							height: 25px;
						}

						.list-default-badge {

							margin: 0 auto;
							padding: 3px 9px 3px 6px;
							border-radius: 50px;
							text-align: center;

						}

					}
				}
			}
		}
	}
}

.form-default {

	.form-default-body {
		padding: 0 20px 20px 20px;
		color: var(--ion-color-light-contrast);

		ion-item {
			// --border-radius: 10px;
		}

		>ion-grid {

			margin-bottom: 30px;

			ion-col {

				h4 {
					margin-top: 40px;
					// background: var(--ion-color-light-shade); // #cfcfcf cor boa
					color: var(--ion-color-black);
					// border-radius: 100px;
					border-bottom: 1px solid var(--ion-color-medium-tint);
					padding: 2px 0px 3px 7px;
					font-size: 20px;
					// font-weight: 600;
				}

				&:first-of-type {
					h4:first-child {
						margin-top: 20px;
					}
				}

			}

			.item-has-value,
			.app-select-filled {
				--border-color: var(--ion-color-light-dark-shade);
			}

			.readonly,
			.item-interactive-disabled,
			.item-disabled {

				// --background: rgba(255, 255, 255, 0.5) !important; // para fundo cinza
				--background: rgba(0, 0, 0, 0.05) !important;
				cursor: no-drop;

				input {
					cursor: no-drop;
				}

				ion-label {
					opacity: 1;
				}

				.select-disabled {
					opacity: 1;

					&::part(icon) {
						opacity: 0;
					}
				}

			}

		}

	}

	.form-default-table {

		max-width: 100%;
		overflow-x: auto;
		border-radius: 0 0 8px 8px;

		table {
			min-width: 100%;
			border: 1px solid var(--ion-color-light-shade);

			tr {
				position: relative;
				border: 1px solid var(--ion-color-light-shade);
				//border-width: 1px 0;
				cursor: pointer;

				&:not(.form-default-table-header):nth-child(odd) {
					background: var(--ion-color-light-shade) !important;
				}

				&:not(.form-default-table-header):hover {
					background: var(--ion-color-white-shade) !important;
				}

				&.form-default-table-header {
					background: var(--ion-color-light-shade);
					color: var(--ion-color-black);
					cursor: default;

					th.form-default-table-header-order:hover {
						background: var(--ion-color-light);
						color: var(--ion-color-black-tint);
					}

					th.form-default-table-header-order:not(.app-icon-sort-up, .app-icon-sort-down)::before {
						opacity: 0.4;
					}
				}

				&.form-default-table-line {
					background: var(--ion-color-white);

					&.form-default-table-line-selected {
						// background: var(--ion-color-tertiary);
						font-weight: 600;
					}
				}

				th {
					padding: 10px;
					text-align: left;
					font-weight: 600;
				}

				td {
					padding: 10px;
					border: 1px solid var(--ion-color-light-shade);

					h4 {
						margin-top: 30px;
					}
				}

				>ion-button {
					margin: 0;
					font-size: 11px;
				}
			}
		}
	}
}

@media not screen and (min-width: 1200px) {
	.form-default {
		.form-default-body {
			padding: 0px;
		}
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--ion-color-dark) transparent;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar:hover {
	width: 11px !important;
	height: 11px !important;
}

/* Track */
::-webkit-scrollbar-track {
	// box-shadow: inset 0 0 5px #ddd;
	// border-radius: 10px;
	background: linear-gradient(to right, var(--ion-color-tertiary) 0%, var(--ion-color-secondary) 100%) !important;
}

::-webkit-scrollbar-corner {}

::-webkit-scrollbar-button {}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--ion-color-dark) !important;
	border-radius: 10px !important;
	border: transparent !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--ion-color-dark-tint) !important;
}

::-webkit-scrollbar-track-piece {
	// border: red;
}

::-webkit-resizer {}

.modal-select-lite * {

	/* width */
	::-webkit-scrollbar {
		width: 1px;
		height: 0px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		// box-shadow: inset 0 0 5px #ddd;
		// border-radius: 10px;
		background: transparent !important;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb {
		background: transparent !important;
	}

	::-webkit-scrollbar-thumb:hover {
		background: transparent !important;
	}
}